#header{
    background-image: url(port3.jpg);
    color: red;
    text-align: center;
}
.display{
    display: flex;
    }

   body{
       font-family: font-family: 'Mukta', sans-serif;;
   }
   footer{
       text-align: center;
   }

